@import "tailwindcss";

@theme {
  --color-primary: #1f3b61;
  --color-background-light: #f6f7f8;
  --color-background-dark: #14181e;
  --font-family-display: "Inter", system-ui, sans-serif;
}

@variant dark (&:where(.dark, .dark *));

body {
  font-family: var(--font-family-display);
}

.dark {
  color-scheme: dark;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
